
:root {
  --default-color:#231f20;
  --main-color: red;
  --accent-color: rgb(246, 163, 2);
}

html, body {
  margin:0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif !important;
  color:var(--default-color);
  /* font-size:14px; */
  background:#f6f6f6;
  overflow-x: hidden;
}


.cond {
  font-family: 'Open Sans Condensed', sans-serif;
}

.mont {
  font-family: 'Montserrat', sans-serif !important;
}

.perspective {
  perspective: 1000px;
}


* {
  box-sizing: border-box;
  font-family: inherit;
}

a, a:hover, a:active {
  text-decoration:none;
  outline:none;
  color:var(--accent-color);
}

.accentc {
  color:var(--accent-color);
}

.limitwidth {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.vcenter {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.separator, .sep {
  border-bottom:1px solid rgba(0,0,0,.05);
}

.insep {
  border-bottom:1px solid rgba(255,255,255,.25);
}

.bg-size, .bg-fix {
  background-size:cover !important;
  background-position: center !important;
}
.ovhidden {overflow: hidden;}
.shadow {box-shadow:1px 1px 5px rgba(0,0,0,.05);}

.clear,.clearfix {clear:both;}
.b, .bold {font-weight:600;}
.bb, .bolder {font-weight:bolder;}
.nf,.nweight {font-weight:normal !important;}
.ls, .lf {
  font-weight: 300;
}
.italic {font-style: italic;}
.line-through {text-decoration: line-through;}
.incolor {color:inherit}
.underline {text-decoration: underline;}
.underline_h:hover {text-decoration: underline !important;}
.blackfont {color:#000;}
.whitefont {color:#fff;}
.bluefont {color:#315d9f !important;}
.whitebg {background:#fff;}
.fwidth {width:100% !important;}
.fwidthalt {width:100%;}
.w50 {width:50%}
.w33 {width:33.33333333%}
.w66 {width:66.66666666%}
.w50alt1 {width:calc(50% - 10px)}
.w50alt2 {width:calc(50% - 15px)}
.w25 {width:25%;}
.w25alt1 {width:calc(25% - 10px)}
.w25alt2 {width:calc(25% - 15px)}
.w20 {
  width:20%;
}
.hidden {
  display:none;
}

.fleft {float:left}
.fright {float:right !important}
.nofloat {float:none}
.rounded,.circle {border-radius:999px;}
.ctext {text-align:center;}
.ltext {text-align:left;}
.rtext {text-align:right;}
.justify{text-align: justify;}

.valign {vertical-align: middle;}

.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}
.fs22 {font-size:22px;}
.fs24 {font-size:24px;}
.fs26 {font-size:26px;}
.fs30 {font-size:30px;}
.fs36 {font-size:36px;}
.fs48 {font-size:48px;}

.responsive {max-width:100%}
.responsive_h {max-height: 100%;}
.nomargin {margin:0;}
.block {display:block;}
.inline-block {display:inline-block;}
.inline {display:inline;}
.flex {display:flex;}
.hide {display:none;}
.anim {transition:500ms;}
.anim2x {transition:250ms;}
.anim-alt:hover {transition:500ms;}
.anim2x-alt:hover {transition:250ms;}
.disable-events {pointer-events: none;}

.upp {text-transform: uppercase;}
.cap {text-transform: capitalize;}
.cap2::first-letter {text-transform: uppercase;}
.lower {text-transform: lowercase;}

.pointer {cursor:pointer;}
.help {cursor:help;}

.absolute {position:absolute;}
.relative {position:relative;}
.fixed {position:fixed;}

.hor-text, .hortex {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mbot5, .mbot {margin-bottom:5px}
.mbot10 {margin-bottom:10px}
.mbot15 {margin-bottom:15px}
.mbot20 {margin-bottom:20px}
.mbot25 {margin-bottom:25px}
.mbot30 {margin-bottom:30px}
.mbot40 {margin-bottom:40px}
.mbot50 {margin-bottom:50px}

.mtop5, .mtop {margin-top:5px}
.mtop10 {margin-top:10px}
.mtop15 {margin-top:15px}
.mtop20 {margin-top:20px}
.mtop25 {margin-top:25px}
.mtop30 {margin-top:30px}
.mtop40 {margin-top:40px}
.mtop50 {margin-top:50px}

.radius {border-radius:3px}
.radius5 {border-radius:5px}
.radius10 {border-radius:10px}

.regpad {padding:10px;}
.regpad2 {padding:15px;}
.regpad3 {padding:20px;}
.regpad4 {padding:25px;}
.regpad5 {padding:30px;}

.sublime-text {
  color:#BBCCD5;
}


input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}



/* Elementos de interfaz */

input[type="text"]:not(.form-control), input[type="password"]:not(.form-control), input[type="number"]:not(.form-control), textarea:not(.form-control), input[type="email"]:not(.form-control) {
  background:rgba(0,0,0,.25);
  height:40px;
  line-height:40px;
  display:inline-block;
  border-radius:3px;
  border:1px solid rgba(255,255,255,.15);
  padding:0 10px;
  font-family: 'Open Sans', sans-serif !important;
  color:#FFF;
}

textarea {
  min-height:120px;
}

input[type="submit"], button:not(.btn), .button, input[type="reset"] {
  background:var(--accent-color);
  color:#FFF !important;
  font-weight: 400;
  height:40px;
  font-family: 'Open Sans', sans-serif !important;
  line-height:40px;
  display:inline-block;
  border-radius:3px;
  padding:0 30px;
  border:0 none;
  /* border:1px solid #49C1A2; */
  cursor:pointer;
  text-align:center;
}

input[type="submit"]:hover, button:not(.btn):hover, .button:hover, input[type="reset"]:hover {
  color:#FFF;
  box-shadow:inset -1px -1px 300px rgba(0,0,0,.15);
}

.select-placeholder {
  position:relative;
}

.select-placeholder:after {
  content:" ";
  position:absolute;
  border:5px solid transparent;
  border-top-color:#444;
  right:20px;
  top:calc(50% - 2.5px);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 40px 0 15px;
  display:inline-block;
  border:1px solid #E1E4E5;
  border-radius:3px;
  height:40px;
  background:#FFF;
  cursor:pointer;
  line-height:40px;
  font-family: inherit;
  text-align:center;
}

select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height:40px;
  line-height:40px;
  font-weight: 600;
}


.special-button {
  display:inline-block;
  padding:0 30px;
  line-height:40px;
  height:40px;
  border:1px solid rgba(255,255,255,1);
  color:#FFF;
  border-radius:30px;
  text-transform: uppercase;
}


input[type="submit"].cancel, button.cancel, .button.cancel, input[type="reset"].cancel {
  background:#ebebeb;
  border-color:#d9d9d9;
  color:#999;
}

.input-group input {
  border-radius:0 3px 3px 0 ;
}

.custom-checkbox input {
  display:none;
}

.custom-checkbox label {
  display:inline-block;
  vertical-align: middle;
  position:relative;
  width:16px;
  height:16px;
  border:2px solid #c0c0c0;
  border-radius:3px;
}

.custom-checkbox input:checked ~ label {
  background:var(--main-color);
  border-color:var(--main-color);
  color:#FFF;
}

.custom-checkbox input:checked ~ label:after {
    content: " ";
    position:absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index:9;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    /* -webkit-text-fill-color: #FFF !important; */
}
