/* Large (>= 1200)*/

@media (min-width: 1200px) {

}

/* Medium (<= 992)*/
@media (max-width: 992px) {

  #post-title {
    line-height:normal;
    font-size: 36px;
  }



  .vcenter:not(.always-center) {
    position: relative;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }


}

/* Small (<= 768)*/
@media (max-width: 768px) {


  #post-thumbnail img {
    margin:30px auto;
  }

  .navi-link.next {
    margin-top:30px;
  }

  #post-body h1:not(.no-estilos) {
    font-size:1.5em;
  }
  #post-body h2:not(.no-estilos) {
    font-size:1.4em;
  }
  #post-body h3:not(.no-estilos) {
    font-size:1.3em;
  }
  #post-body h4:not(.no-estilos) {
    font-size:1.2em;
  }
  #post-body h5:not(.no-estilos) {
    font-size:1.1em;
  }
  #post-body h6:not(.no-estilos) {
   font-size:1em;
  }


  #post-categ a {
    font-size:14px;
  }

  #post-title {
    font-size:28px;
  }



}


/* Extra small (<= 576)*/
@media (max-width: 576px) {

}
