

#site-header {
  height:80px;
  line-height:40px;
  padding:20px 0;
  background:rgba(255,255,255,.975);
  top:0;
  right:0;
  left:0;
  z-index:9999;
  box-shadow:0 1px 1px rgba(0,0,0,.1);
}


#site-content {
  margin:80px 0 0;
}

#main-wrapper {
  padding:30px 0;
}


/*Grid posts*/
.post-title {
  color: #162945;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 16px;
}

.post-category {
  font-size: 16px;
  color: #747d82;
  line-height: 24px;
}


/*Post content*/
#post-content {
  padding:30px 0;
}

#post-info {
  z-index:2;
}

#post-thumbnail {
  transition:200ms;
  background-color:#F1f3F4;
  padding:30px 0 0;
  text-shadow:0 1px 0 rgba(0,0,0,.25);
}

#post-thumbnail:before {
  content:" ";
  position:absolute;
  z-index:2;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background:inherit;
}

#post-thumbnail .blurry-post-img {
  min-width:100%;
  min-height:100%;
  filter:blur(5px);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(1.05);
  z-index: 1;
}

#post-thumbnail:hover {

}


#post-meta {
  z-index:3;
  max-width:645px;
  margin:0 auto;
}

#post-description {
  padding:30px 0;
}

#post-img {
  z-index:1;
  margin:auto auto -50px;
  width:500px !important;
  max-width:calc(100% - 80px) !important;
  /* box-shadow:0 5px 10px rgba(0, 0, 0, 0.4); */
}


#post-title {
  font-family: 'Poppins', sans-serif;
  z-index:2;
  font-size: 36px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: .5px;
  padding:0 30px;
  max-width:600px;
  margin:0 auto;
  color: #fff;
}

#post-body {
  font-size:20px;
  max-width: 645px;
  margin: 0 auto;
}

.post-tag {
  border: 1px solid rgba(0,0,0,.125);
  padding: 0 10px;
  line-height: 28px;
  margin: 0 10px 10px 0;
}

#post-content a {
  color:#1785fb;
}

#author-data {
  margin-right:20px;
  font-weight:700;
  font-size:12px;
  font-family:'Poppins', sans-serif;
}

#post-info {
  height:70px;
  line-height:70px;
  border-top:1px solid rgba(255,255,255,.15)
}

#small-avatar {
  width:32px;
  border-radius:99px;
}

#post-sharer .share-icon {
  color:inherit;
  margin:0 10px 0 0;
  position:relative;
  transition:300ms;
}

#post-sharer .share-icon:before {
  pointer-events: none;
  transition:300ms;
  content:attr(data-title);
  position:absolute;
  bottom:calc(100% + 10px);
  opacity:0;
  background:#FFF;
  z-index:99;
  padding:0 20px;
  border-radius:3px;
  color:#162945;
  width:140px;
  left:calc(50% - 70px);
  box-shadow:0 1px 3px 1px rgba(0,0,0,.25);
  line-height:30px;
  font-weight:600;
  font-size:16px;
  transform:translateY(-20px);
}
#post-sharer .share-icon:hover:before {
  transform:none;
  opacity:1;
}

@keyframes animclip {
  0%   {
    height:0;
    width:0;
    opacity:0;
  }
 5%  {
   opacity:1;
   height:10px;
   width:0;
 }
 10% {
   height:10px;
   width:20px;
 }

 50% {
   opacity:1;
 }
 60% {
   opacity:0;
 }
}

.copy-to-clipboard.active:after {
  opacity:0;
  content:"";
  width:20px;
  height:10px;
  border-width: 0 0 3px 3px;
  border-color:#66996d;
  border-style: solid;
  display:block;
  transform:rotate(-45deg);
  position:absolute;
  left:calc(100% - 15px);
  bottom:-5px;
  transform-origin: top left;
  -webkit-animation: animclip 3s infinite;
  animation: animclip 3s 1;
}




#post-sharer .share-icon.fb:hover {
  color:#3A559F;
}
#post-sharer .share-icon.tw:hover {
  color:#04A9F4;
}
#post-sharer .share-icon.gplus:hover {
  color:#DA4835;
}
#post-sharer .share-icon.pin:hover {
  color:#BD071D;
}
#post-sharer .share-icon.lin:hover {
  color:#0274B3;
}


#post-sharer .share-icon:last-of-type {
  margin-right:0;
}




.s-button {
  margin-right:5px;
  border:0 none;
  display:inline-block;
  border-radius:3px;
  line-height:46px;
  height:46px;
  padding:0 50px;
  color:#FFF !important;
  background-color:#52af8d;
  font-size:14px;
  transition: 300ms;
  overflow: hidden;
  position:relative;
}

.s-button:before {
  content:" ";
  position:absolute;
  background: rgba(255,255,255,.125);
  transform:skewX(-45deg) translateX(100%);
  top:-100px;
  right:-20px;
  left:-20px;
  bottom:-100px;
  transition:300ms;
}

.s-button span {
  transition:300ms;
  display:block;
  position:relative;
}

.s-button i {
  right:30px;
  top:-10px;
  line-height:46px;
  bottom:0;
  transition:300ms;
  font-size:.9em;
  opacity:0;
  transform:translateY(0);
  position:absolute;
}

.s-button:hover:before{
  transform:skewX(-45deg) translateX(0);
}
.s-button:hover i {
  opacity:1;
  top:0;
}

.s-button:hover span {
  transform:translateX(-10px);
}



#post-links .s-button:last-of-type {
  margin-right:0;
}



/*#article editor*/
#article-editor {
  padding:30px 0;
}
